/* --- Google Maps Containers (Critical Fix) --- */
#googleMap, #googleMap2 {
    height: 450px; /* Adjust height as needed */
    width: 100%;
    min-height: 300px;
    background-color: #e5e3df; /* Matches Google Maps default gray before tiles load */
}

body {
    width: 100%;
    background-color: rgb(17, 17, 17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

a {
    color: rgb(76, 155, 88);
    font-size: 2em;
    text-decoration: none;
    padding-bottom: 100px;
}

p {
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    color: #fffceb;
    width: 80%;
    margin: 10px auto 10px auto;
}

.spacing {
    width: 50px;
}

.overunderlineNoAnimation {
    font-size: 3.3em;
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
}

.header {
    height : auto;
    padding: .3em;
    background-color: rgb(76, 155, 88);
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLink {
    font-size: 20px;
}

.blackHeader {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5em 0em 5em 0em;
    margin-bottom: 2em;
}

.mapSect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Helps with mobile responsiveness */
}

.mapTextArea {
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5em;
    padding: 1em 3em 1em 1em;
}

.mapTextArea p {
    margin: -50px 20px 20px 0px; 
    font-size: 25px;
}

.navbar {
    margin-top: 0px;
    border-radius: .5em;
    height: 100px;
    width: auto;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green-button {
    margin: 35px 1px 30px;
    padding: 10px 20px;
    font-size: 20px;
    width: auto;
    height: 60px;
    border: none;
    outline: none;
    color: #111;
    background: rgb(76, 155, 88);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.blackSect {
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5em 0em 5em 0em;
    margin-bottom: 2em;
}

.blackSect img {
    width: 40%;
    height: auto;
    margin: 20px 30px;
    border-radius: .5em;
}

.blackSect h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 3.5em;
    color: #fffceb;
}

.lightSect {
    width: 100%;
    background-color: beige;
    text-align: center;
    padding: 5em 0em 5em 0em;
    margin-bottom: 2em;
}

.lightSect h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    padding-bottom: 100px;
    width: 100%;
    font-size: 3.5em;
    color: rgb(0, 0, 0);
}

.lightSect p {
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: left;
    color: rgb(0, 0, 0);
    width: 85%;
    margin: -100px auto 10px auto;
}

.greenSect {
    width: 100%;
    background-color: rgb(76, 155, 88);
    text-align: center;
    padding: 5em;
    margin-bottom: 2em;
}

.reviewItem {
    background-color: #fffceb;
    border-radius: 1.5em;
    color: rgb(76, 155, 88);
    width: 400px;
    border: solid 5px black;
    margin: auto;
    height: auto;
}

.reviewItem p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: center;
    color: rgb(76, 155, 88);
    margin: 70px auto 70px auto;
}

/* Footer */
.footer {
    background-color: #fffceb;
    height: auto;
    text-align: center;
}

.footerSect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 1em 2em 1em;
}

.footerTitleTile {
    width: 15%;
    margin-left: 100px;
}

.footerTitleTile h1 {
    color: rgb(76, 155, 88);
    font-size: 2.5em;
    text-align: left;
}

.footerTitleTile p {
    color: rgb(76, 155, 88);
    font-size: 1.2em;
    text-align: left;
}

.footerTile {
    width: 15%;
    margin: 0px auto 0px auto;
}

.footerTile h1 {
    color: rgb(76, 155, 88);
    font-size: 2.5em;
    text-align: left;
}

.footerTile p {
    color: rgb(76, 155, 88);
    font-size: 1.2em;
    text-align: left;
}
